body{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.btn{
    padding: 20px;
    text-decoration: none;
    border: 1px solid black;
}

.wrapper{
    margin: 0 auto;
    width:  800px;
}

.first-block{
    background: url(img/wheat-back.jpg) no-repeat;
    height: 550px;
    width: 100%;
    background-position: bottom;
    background-size: cover;
}

.first-block img{
    display: block;
    margin-top: 50px;
    width: 140px;
    float: left;
}

.first-block .nav{
    width: 600px;
    float: right;
}

.first-block ul{
    display: block;
    list-style: none;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 60px;
    margin-top: 70px;
}

.first-block li{
    display: inline-block;
    margin-left: 55px;
}

.first-block li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.first-block p{
    font-size: 70px;
    line-height: 70px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 145px;
}

.second-block{

}

.second-block h2{
    font-size: 70px;
    line-height: 61px;
    color: black;
}

.second-block h3{
    font-size: 40px;
    line-height: 61px;
    font-weight: bold;
}

.second-block p:nth-of-type(1){
    font-size: 14px;
    line-height: 24px;
}

.second-block p:nth-of-type(2){
    font-size: 16px;
    line-height: 30px;
}

.second-block table{
    border-collapse: collapse;
}

.second-block td{
    border: 1px solid gray;
}