body{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.btn{
    padding: 20px;
    text-decoration: none;
    border: 1px solid black;
}

.wrapper{
    margin: 0 auto;
    width:  800px;
}

.wrapper2{
    margin: 0 auto;
    width: 400px;
}

.first-block{
    background: url(img/wheat-back.jpg) no-repeat;
    height: 550px;
    width: 100%;
    background-position: bottom;
    background-size: cover;
}

.first-block img{
    display: block;
    margin-top: 50px;
    width: 140px;
    float: left;
}

.first-block .nav{
    width: 600px;
    float: left;
}

.first-block ul{
    display: block;
    list-style: none;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 60px;
    margin-top: 70px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.first-block li{
    display: inline-block;
    margin-left: 55px;
    list-style: none;
}

.first-block li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.first-block p{
    font-size: 70px;
    line-height: 70px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 145px;
}

.second-block{

}

.second-block::after{
    content: '';
    display: table;
    clear: both;
}

.second-block h2{
    font-size: 70px;
    line-height: 61px;
    color: black;
    text-transform: uppercase;
}

.second-block h3{
    font-size: 40px;
    line-height: 61px;
    font-weight: bold;
    text-transform: uppercase;
}

.second-block .bear-1{
    float: left;
    width: 400px;
}

.second-block .bear-2{
    float: left;
    width: 400px;
}

.second-block p:nth-of-type(1){
    font-size: 14px;
    line-height: 24px;
}

.second-block p:nth-of-type(2){
    font-size: 16px;
    line-height: 30px;
}

.second-block img{
    float: left;
}

.second-block p{
    float: right;
}

.second-block table{
    border-collapse: collapse;
    float: right;
}

.second-block td{
    border: 1px solid gray;
}

.third-block{
    background-color: #ffcb78;
    height: 415px;
}

.third-block h2{
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
}

.third-block p{
    font-size: 16px;
    line-height: 30px;
}

.third-block li{
    list-style: none;
    float: left;
    width: 300px;
    padding-right: 200px;
    padding-top: 80px;
}

.third-block ul{
    margin-left: 90px;
    margin-right: 90px;
}

.third-block ul::after{
    content: '';
    display: table;
    clear: both;
}

.fourth-block h2{
    font-size: 40px;
    line-height: 61px;
    text-transform: uppercase;
    font-weight: bold;
}

.fourth-block dt{
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.fourth-block dd{
    font-size: 16px;
    line-height: 30px;
}

.fourth-block cite{
    text-transform: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    font-style: italic;
    color: #444444;
    float: right;
    width: 200px;
}

.fourth-block cite a{
    color: #834700;
}

.fourth-block img{
    float: right;
    width: 200px;
}
.fourth-block::after{
    content: '';
    display: table;
    clear: both;
}